@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../app/Livewire/**/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-50: var(--color-emerald-50);
    --color-primary-100: var(--color-emerald-100);
    --color-primary-500: var(--color-emerald-500);
    --color-primary-600: var(--color-emerald-600); /* Main Brand Color */
    --color-primary-700: var(--color-emerald-700);

    /* SECONDARY: Ungu Elegan (Accent / Tombol Penting) */
    --color-secondary-50: var(--color-violet-50);
    --color-secondary-100: var(--color-violet-100);
    --color-secondary-500: var(--color-violet-500);
    --color-secondary-600: var(--color-violet-600); /* Accent Color */
    --color-secondary-700: var(--color-violet-700);
}

/* Custom Scrollbar (Optional - Biar rapi di HP) */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1fae5;
    border-radius: 4px;
}